/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        myat: myat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYAT";
        };

        mylbrc: mylbrc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp APOSTROPHE>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYLBRC";
        };

        myrbrc: myrbrc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp NON_US_HASH>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYRBRC";
        };

        mylbkt: mylbkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp LBKT>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYLBKT";
        };

        myrbkt: myrbkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp RBKT>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYRBKT";
        };

        mygt: mylt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp NUBS>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "MYLT";
        };

        mybackslash: mybackslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp GRAVE>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYBACKSLASH";
        };

        myhashtag: myhashtag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_3>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYHASHTAG";
        };

        myslash: myslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYSLASH";
        };

        mylquestion: mylquestion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp EQUAL>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "MYLQUESTION";
        };

        emacs_sel: emacs_sel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "EMACS_SEL";
        };

        emacs_start: emacs_start {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp NUBS>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "EMACS_START";
        };

        emacs_end: emacs_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUBS>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_SHIFT>;

            label = "EMACS_END";
        };

        mytilde: mytilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            label = "MYTILDE";
        };

        emacs_mc_d: emacs_mc_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUBS>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_SHIFT>;

            label = "EMACS_MC_D";
        };

        emacs_mc_u: emacs_mc_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp NUBS>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "EMACS_MC_U";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC       &kp N1  &kp N2  &kp N3    &kp N4  &kp N5                                       &kp N6     &kp N7  &kp N8      &kp N9   &kp N0    &kp BACKSPACE
&kp TAB       &kp Q   &kp W   &kp E     &kp R   &kp T                                        &kp Y      &kp U   &kp I       &kp O    &kp P     &kp MINUS
&kp LEFT_GUI  &kp A   &kp S   &kp D     &kp F   &kp G                                        &kp H      &kp J   &kp K       &kp L    &kp SEMI  &kp SQT
&kp LSHFT     &kp Z   &kp X   &kp C     &kp V   &kp B      &kp LBKT            &kp RBKT      &kp N      &kp M   &kp COMMA   &kp DOT  &kp FSLH  &kp RSHFT
                              &kp LALT  &mo 1   &kp SPACE  &kp LEFT_CONTROL    &kp LEFT_ALT  &kp ENTER  &mo 2   &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&bt BT_CLR    &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4                    &trans    &kp K_MUTE      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC
&kp F1        &kp F2            &kp F3             &kp F4             &kp F5        &kp F6                          &kp F7    &kp PAGE_UP     &kp UP_ARROW       &kp PAGE_DOWN    &mylquestion          &kp EQUAL
&kp CAPSLOCK  &kp TILDE         &myat              &kp NUBS           &mygt         &kp GRAVE                       &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW     &kp RIGHT_ARROW  &kp END               &mybackslash
&trans        &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans        &trans        &trans    &trans  &trans    &mylbrc         &myrbrc            &mylbkt          &myrbkt               &trans
                                                   &trans             &trans        &trans        &trans    &trans  &trans    &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &myslash  &trans  &myhashtag  &mytilde  &trans                     &trans       &kp K_MUTE   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC
&trans  &kp N1    &kp N2  &kp N3      &kp N4    &kp N5                     &kp N6       &kp N7       &kp N8             &kp N9           &kp N0                &trans
&kp F1  &kp F2    &kp F3  &kp F4      &kp F5    &kp F6                     &trans       &emacs_sel   &emacs_start       &emacs_end       &trans                &trans
&kp F7  &kp F8    &kp F9  &kp F10     &kp F11   &kp F12  &trans    &trans  &kp KP_PLUS  &emacs_mc_d  &emacs_mc_u        &trans           &trans                &trans
                          &trans      &trans    &trans   &trans    &trans  &trans       &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
